@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #FFFFFF;
}

.cabecalho-imagem {
    height: 32px;
    color: #FFFFFF;
    margin-right: 55rem;
}


.cabecalho-menu {
    display: flex;
    gap: 40px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    text-transform: uppercase;
    color: #19101A;
    font-weight: 600;
    font-size: 17px
}

@keyframes zoom {
	0%, 100% { transform: scale(1);}

	50% { transform: scale(1.2);}
}

.cabecalho-menu-item:hover {
    color: #623e66;
    transform-style: initial;
    transition-duration: 1s;
}

.cabecalho-imagem:hover{
    animation: zoom 300ms ease-in;
    transition-duration: 1s;
    animation-duration: 1s;
    cursor: pointer;
}

.conteudo {
    margin-bottom: 0px;
    border-top: 0.4px solid #FFFFFF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #19101A;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #19101A;
}

.conteudo-principal-escrito-botao {
    background-color: #19101A;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #FFFFFF;
    color: #19101A;
    border: 0.4px solid #19101A;
    cursor: pointer;
    transition-duration: 1s;
}

.conteudo-principal-imagem {
    height: 360px;
    width: 360px;
    margin-top: 90px;
    margin-right: 70px;
    border-radius: 50%;
}

.conteudo-secundario-imagem {
    height: 320px;
    width: 320px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    gap: 24px;
    margin-top: 170px;
    background-color: #19101A;
}

.conteudo-secundario-html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    gap: 24px;
    margin-top: 170px;
    background-color: #19101A;
}


.conteudo-secundario-css {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    gap: 24px;
    margin-top: 170px;
    background-color: #19101A;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #19101A;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 30px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

.conteudo-secundario-paragrafo-html {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.conteudo-secundario-paragrafo-html:hover {
    color: #623e66;
    animation: zoom 300ms ease-in;
    animation-duration: 1s;
}

.conteudo-secundario-paragrafo-css {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.conteudo-secundario-paragrafo-css:hover {
    color: #623e66;
    animation: zoom 300ms ease-in;
    animation-duration: 1s;
}

ul {
    font-family: 'Sarala', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
}


.rodape {
    padding: 22px;
    border-top: 0.4px solid #19101A;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
  
}